# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.irssi/config

.config/.mono/
.config/NuGet/
.config/configstore
.config/nvim/.netrwhist
.config/nvim/plugged/
# Plug is installed when nvim is first setup via init.vim
.config/nvim/autoload/plug.vim
.config/xbuild/
